<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            Тарифы моно-интернета
            <button class="pull-right" (click)="log()">log</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-12">
                    <table class="table table-striped table-sm table-borderless table-responsiveeee">
                        <thead>
                        <tr class="text-center">
                            <th class="text-left">Тариф интернет</th>
                            <th>Доступно на сайте</th>
                            <th class="text-left">Название на сайте</th>
                            <th>Гостям</th>
                            <th>Клиентам</th>
                            <th>Продвигаемый</th>
                            <th>Оп.</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let t of tariffs?.items">
                            <td>
                                {{t.tariff_name}}
                            </td>
                            <td class="text-center">
                                <span class="badge badge-{{t.available ? 'success' : 'danger'}}">{{t.available ? 'Да' : 'нет'}}</span>
                            </td>
                            <td>{{t.tariff_name_display}}</td>
                            <td class="text-center">
                                <span class="badge badge-{{t.available_guest ? 'success' : 'danger'}}">{{t.available_guest ? 'Да' : 'нет'}}</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-{{t.available_client ? 'success' : 'danger'}}">{{t.available_client ? 'Да' : 'нет'}}</span>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-{{t.promote ? 'success' : 'danger'}}">{{t.promote ? 'Да' : 'нет'}}</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-info" (click)="showTariff(t.id)">
                                    <i class="icon icon-eye"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-success" (click)="updateTariff(t.id)">
                                    <i class="icon icon-pencil"></i>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                           aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{tariff?.tariff_name}}</h4>
                <button type="button" class="close" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide()">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{tariff?.tariff_name}}</h4>
                <button type="button" class="close" (click)="updateModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="updateModal.hide()">Отменить</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
