<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Тарифы телефонии
    </div>
    <div class="card-body">
      Тут всякая хрень про телефонию
    </div>
  </div>
</div>
