<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Тарифы домофонии
    </div>
    <div class="card-body">
      Тут всякая хрень про домофонию
    </div>
  </div>
</div>
